<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
   
        <div class="logo">
            <img src="assets/icon/favicon.png" />
          </div>
      <div class="form">

       
        <ion-item lines="none">
          <ion-input placeholder="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input type="password" placeholder="password"></ion-input>
        </ion-item>
        <ion-button> Sign up </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
